:host {

}

aside {
    background-color: #e0f2f1;
    grid-area: aside;
}

header {
    background-color: #c5cae9;
    grid-area: header;
}

main {
    background-color: transparent;
    grid-area: main;
}

/*=====================================*/
/*==============MEDIA RULES============*/
/*=====================================*/
/*Mobile*/
@media (max-width: 767px) {

    :host {
        display: grid;
        grid-template-rows: 4em 1fr;
        grid-template-columns: 1fr;
        min-height: 100vh;
    }
    aside {
        display: none;
    }
    header {
        grid-column: span 1;
        grid-row: 1 / span 1;
    }
    main {
        grid-column: span 1;
        grid-row: 2 / span 1;
    }


}

/*Tablets and similar*/
@media (min-width: 768px) and (max-width: 1023px) {

    :host {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(32, 1fr);
        height: 100vh;
        max-height: 100vh;
    }

    aside {
        grid-column: span 1;
        grid-row: 1 / span 32;
    }

    header {
        grid-column: 2 / span 1;
        grid-row: 1 / span 3;
    }

    main {
        grid-column: 2 / span 1;
        grid-row: 4 / span 29;
    }

}

/*Bigger screens*/
@media (min-width: 1024px) {
    
    :host {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(32, 1fr);
        height: 100vh;
        max-height: 100vh;
    }

    aside {
        grid-column: span 1;
        
        grid-row: 1 / span 32;
    }

    header {
        grid-column: 2 / span 1;
        grid-row: 1 / span 3;
    }

    main {
        grid-column: 2 / span 1;
        grid-row: 4 / span 29;
    }
    
}