<div>
    Brand
</div>



<!--Changing mode-->
<ng-template [ngIf]="currentRoute === '/signin' || currentRoute === '/signup'">
    <a routerLink="/home"><i class="pi pi-question-circle" style="font-size: 1.5em;"></i></a>
</ng-template>

<ng-template [ngIf]="currentRoute.startsWith('/home')">
    <input type="text">

    <div>
        Utils
    </div>
</ng-template>

<ng-template [ngIf]="currentRoute === '/' || currentRoute === '/about' || currentRoute === '/contact_us'">

    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact Us</li>
        </ul>
    </nav>

    <div id="sign">
        <a routerLink="/signin">Sign In</a>
        <a routerLink="/signup">Sign Up</a>
    </div>

</ng-template>



