
<form class="signup-form" [formGroup]="userForm" (ngSubmit)="onSaveUser(userForm.value)">
    <p class="form-title">Sign Up</p>

    <mat-form-field [style.fontSize.px]=15 appearance="outline" class="first-name-field">

        <mat-label>First Name</mat-label>
        <input formControlName="first_name" [formControl]="firstNameFormControl" matInput type="text"  [errorStateMatcher]="matcher"
        placeholder="Insert your first name">

        <mat-hint>Insert your first name here!</mat-hint>

        @if (firstNameFormControl.hasError('required')) {
            <mat-error>First name is <strong>required</strong></mat-error>
        }

    </mat-form-field>
    <mat-form-field [style.fontSize.px]=15 appearance="outline" class="last-name-field">

        <mat-label>Last Name</mat-label>
        <input formControlName="last_name" [formControl]="lastNameFormControl" matInput type="text"  [errorStateMatcher]="matcher"
        placeholder="Insert your first name">

        <mat-hint>Insert your last name here!</mat-hint>

        @if (lastNameFormControl.hasError('required')) {
            <mat-error>Last is <strong>required</strong></mat-error>
        }

    </mat-form-field>

    <mat-form-field [style.fontSize.px]=15 appearance="outline" class="email-field">
        <mat-label>Email</mat-label>
        <input formControlName="email" [formControl]="emailFormControl" matInput type="email"  [errorStateMatcher]="matcher"
        placeholder="Ex. meuemail@example.com">

        <mat-hint>Insert your email here!</mat-hint>

        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
        }
        @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
        }
    </mat-form-field> 

    <mat-form-field [style.fontSize.px]=15 appearance="outline" class="email-field">
        <mat-label>Recovery Email</mat-label>
        <input formControlName="recovery_email" [formControl]="recoveryEmailFormControl" matInput type="email"  [errorStateMatcher]="matcher"
        placeholder="Ex. meuemail@example.com">

        <mat-hint>Insert a recovery email here!</mat-hint>

        @if (recoveryEmailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a <strong>valid email address</strong></mat-error>
        }
        @if (recoveryEmailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
        }
    </mat-form-field> 
<!-- 
    <mat-form-field [style.fontSize.px]=15 appearance="outline" class="phone-field">
        <mat-label>Phone</mat-label>
        <input formControlName="phone" [formControl]="phoneFormControl" matInput type="text" [errorStateMatcher]="matcher"
        placeholder="(xx) xxxxx-xxxx">

        <mat-hint>Insert a phone number here!</mat-hint>

        @if (phoneFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
        }
    </mat-form-field>  -->


    <mat-form-field [style.fontSize.px]=15 appearance="outline" class="password-field">
        <mat-label>Password</mat-label>
        <input formControlName="password" [formControl]="passwordFormControl" matInput type="password" [errorStateMatcher]="matcher"
        placeholder="Insert your password here">

        <mat-hint>Insert a password number here!</mat-hint>

        @if (passwordFormControl.hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
        }
    </mat-form-field> 
    
    <mat-form-field [style.fontSize.px]=15 appearance="outline" class="confirm-password-field">
        <mat-label>Confirm Password</mat-label>
        <input formControlName="confirm_password" [formControl]="confirmPasswordFormControl" matInput type="password" [errorStateMatcher]="matcher"
        placeholder="Confirm your password here">

        <mat-hint>Confirm your password here!</mat-hint>

        @if (confirmPasswordFormControl.hasError('mismatch') && !confirmPasswordFormControl.hasError('required')) {
            <mat-error>Password and Confirm Password <strong>must be the same</strong></mat-error>
        }
        @if (confirmPasswordFormControl.hasError('required')) {
            <mat-error>Confirm Password is <strong>required</strong></mat-error>
        }

    </mat-form-field> 

    <button [disabled]="!userForm.valid" type="submit" mat-raised-button color="primary">Sign Up</button> 

</form>

