@use '@angular/material' as mat;
@import '../../../assets/palettes/teal-palette.scss';

:host {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em 3em 2em 3em;
    
}

.signup-form {
    /* min-width: 150px; */
    /* max-width: 500px; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: 0.875em;
}

/* ============================================ */
/* Customizing inputs */
/* ============================================ */

mat-form-field {
    @include mat.form-field-density(-5);

    mat-label {
        @include mat.form-field-density(-5);
    }

}

/* ::ng-deep .mdc-notched-outline {
    background-color: #cfd8dc;
} */

/* ============================================ */
/* Setting Columns layout */
/* ============================================ */

.signup-form p{
    font-size: x-large;
    color: #009688;
    font-weight: bold;
    grid-column: 1 / span 21;
    text-align: center;
}


.signup-form .first-name-field {
    grid-column: 3 / span 7;
}

.signup-form .last-name-field {
    grid-column: 11 / span 7;
}

.signup-form .email-field {
    grid-column: 3 / span 15;
}

.signup-form .phone-field {
    grid-column: 3 / span 15;
    margin-bottom: 1.125em;
}

.signup-form .password-field {
    grid-column: 3 / span 15;
}

.signup-form .confirm-password-field {
    grid-column: 3 / span 15;
}

.signup-form button {
    grid-column: 8 / span 5;
}


  
