:host ::ng-deep {
    .folder {
        user-select: none;
        outline: 1px transparent solid;
        border-radius: 0.5em;
        transition: outline-color 0.2s;
        
        &.p-draggable-enter {
            outline-color: #009688;
        }
    }
}

/*Mobile*/
@media (max-width: 767px) {}

/*Tablets and similar*/
@media (min-width: 768px) and (max-width: 1023px) {
    :host {
        display: flex;
        flex-direction: column;
        gap: 1em;
        .folders {
            .folder-list {
                display: grid;
                grid-template-columns: repeat(24, 1fr);
                column-gap: 1em;
                row-gap: 1em;

                .folder {
                    position: relative;
                    grid-column: span 8;

                    .menu-ico {
                        height: 30px;
                        width: 30px;
                        min-height: 30px;
                        min-width: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 30em;

                        position: absolute;
                        top: 5px;
                        right: 5px;

                        &:hover {
                            background-color: #cfd8dc;
                            cursor: pointer;
                        }

                        &:active {
                            background-color: #546e7a;
                        }
                    }
                    .starred {
                        height: 30px;
                        width: 30px;
                        min-height: 30px;
                        min-width: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: absolute;
                        bottom: 5px;
                        right: 5px;
                    }

                    .not-starred {
                        display: none;
                    }
                }
            }

            .create-new-folders {
                margin: 0.5em; 
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 10em;
                border: 1px dashed #009688;
                border-radius: 5px;
                color: #546e7a;
            }
        }

        .files {
            .file-list {
                display: grid;
                grid-template-columns: repeat(24, 1fr);
                column-gap: 1em;
                row-gap: 1em;

                .file {
                    position: relative;
                    grid-column: span 12;

                    .menu-ico {
                        height: 30px;
                        width: 30px;
                        min-height: 30px;
                        min-width: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 30em;

                        position: absolute;
                        top: 5px;
                        right: 5px;

                        &:hover {
                            background-color: #cfd8dc;
                            cursor: pointer;
                        }

                        &:active {
                            background-color: #546e7a;
                        }
                    }
                    
                    .starred {
                        height: 30px;
                        width: 30px;
                        min-height: 30px;
                        min-width: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: absolute;
                        bottom: 5px;
                        right: 5px;
                    }

                    .not-starred {
                        display: none;
                    }
                }
            }

            .drop-files-here {
                margin: 0.5em;
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 10em;
                border: 1px dashed #009688;
                border-radius: 5px;
                color: #546e7a;
            }
            .fileover {
                padding: 0.5em;
                opacity: 0.5;
                background-color: #b2dfdb;
                border-radius: 10px;
                border: 1.5px dashed #009688;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #b0bec5;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #009688;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}


/*Bigger screens*/
@media (min-width: 1024px) {

    :host {
        display: flex;
        flex-direction: column;
        gap: 1em;
        .folders {
            .folder-list {
                display: grid;
                grid-template-columns: repeat(24, 1fr);
                column-gap: 1em;
                row-gap: 1em;
                .folder {
                    position: relative;
                    grid-column: span 6;

                    .menu-ico {
                        height: 30px;
                        width: 30px;
                        min-height: 30px;
                        min-width: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 30em;

                        position: absolute;
                        top: 5px;
                        right: 5px;

                        &:hover {
                            background-color: #cfd8dc;
                            cursor: pointer;
                        }

                        &:active {
                            background-color: #546e7a;
                        }
                    }
                    .starred {
                        height: 30px;
                        width: 30px;
                        min-height: 30px;
                        min-width: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: absolute;
                        bottom: 5px;
                        right: 5px;
                    }

                    .not-starred {
                        display: none;
                    }
                }
            }

            .create-new-folders {
                margin: 0.5em;
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 10em;
                border: 1px dashed #009688;
                border-radius: 5px;
                color: #546e7a;
            }
        }

        .files {
            .file-list {
                border-radius: 8px;
                display: grid;
                grid-template-columns: repeat(24, 1fr);
                column-gap: 1em;
                row-gap: 1em;

                .file {
                    position: relative;
                    grid-column: span 8;

                    .menu-ico {
                        height: 30px;
                        width: 30px;
                        min-height: 30px;
                        min-width: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 30em;

                        position: absolute;
                        top: 5px;
                        right: 5px;

                        &:hover {
                            background-color: #cfd8dc;
                            cursor: pointer;
                        }

                        &:active {
                            background-color: #546e7a;
                        }
                    }
                    .starred {
                        height: 30px;
                        width: 30px;
                        min-height: 30px;
                        min-width: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: absolute;
                        bottom: 5px;
                        right: 5px;
                    }

                    .not-starred {
                        display: none;
                    }
                }

                .file-list-cover {
                    display: none;
                }

            }

            .drop-files-here {
                margin: 0.5em;
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 10em;
                border: 1px dashed #009688;
                border-radius: 5px;
                color: #546e7a;
            }
            .fileover {
                opacity: 0.5;
                background-color: #b2dfdb;
                border-radius: 10px;
                border-color: #009688;
            }
        }
    }
}

.file-list {
    margin: -0.5em;
    padding: 0.5em;
    border: 1.5px dashed transparent;
    transition: all 200ms;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #b0bec5;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #009688;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}


::ng-deep .cdk-overlay-pane {
    width: auto !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-width: fit-content !important;
    max-width: fit-content !important;
}

::ng-deep .mat-menu-panel {
    max-width: fit-content !important;
    min-width: fit-content !important;
}

::ng-deep .mat-mdc-menu-panel {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 30em !important;
    max-width: fit-content !important;
    min-width: fit-content !important;
    padding: 0.3em;
}

::ng-deep .mat-mdc-menu-content {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0px !important;

    i {
        height: 30px;
        width: 30px;
        min-height: 30px;
        min-width: 30px;
        border-radius: 30em;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #cfd8dc;
            cursor: pointer;
        }

        &:active {
            background-color: #607d8b;
        }
    }
}