:host {
    height: 75%;
    display: flex;
    align-items: center;
    background-color: #cfd8dc;
    border-radius: 20em;
    padding: 0em 0.75em;
    span {
        display: flex;
        align-items: center;
        gap: 0.5em;
        height: 100% !important;
        width: 100%;
        &:hover {
            cursor:text;
        }
        i {
            font-size: 1.3em;
            font-weight: 600;
            color: #546e7a;
            cursor: pointer;
        }
        input {
            background-color: transparent;
            border: none;
            color: #546e7a;
            font-weight: 600;
            width: 100%;
            &:focus {
                border: none !important;
                outline: none;
                background-color: transparent !important;
            }
        }
    }
    
}