:host {
    position: relative;
    .file-container {
        user-select: none;
        background-color: #eceff1;
        min-height: 7em;
        border-radius: 0.5em;
        padding: 0.275em;
        display: flex;
        align-items: center;
        position: relative;
        gap: 0.1em;
    
        &:hover {
            background-color: #cfd8dc;
            cursor: pointer;
        }
    
        img {
            max-height: 50px;
            max-width: 50px;
        }
    
        .file-info{
    
            display: flex;
            flex-direction: column;
            gap: 0.1em;
            overflow: hidden;
    
            p {
                color: #546e7a;
                margin: 0;
                padding: 0; 
            }
        
            .file-name {
                font-size: small;
                font-weight: 600;
            }
        
            .file-createdAt {
               font-size: x-small;
            }
    
        }
    }


    .menu-container {
        position: absolute;
        top: 5px;
        right: 5px;
        i {
            height: 30px;
            width: 30px;
            min-height: 30px;
            min-width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 30em;
            &:hover {
                background-color: #b0bec5;
                cursor: pointer;
            }
            &:active {
                background-color: #78909c;
            }
        }

    }

}



