<button id="new">New</button>

<ul>
    <li><a routerLink="/home/my_files"><i class="pi pi-folder"></i>My files</a></li>
    <li><a routerLink="/home/shared_with_me"><i class="pi pi-user"></i>Shared With Me</a></li>
    <li><a routerLink="/home/recent"><i class="pi pi-clock"></i>Recent</a></li>
    <li><a routerLink="/home/starred"><i class="pi pi-star"></i>Starred</a></li>
    <li><a routerLink="/home/trash"><i class="pi pi-trash"></i>Trash</a></li>
</ul>

<button id="donations" routerLink="/">
    <p>Giving a single coin is a way to love</p>
    <i class="pi pi-heart"></i>
</button>