:host {
    .sidebar {
        padding: 0px 7px 2em 7px;
        background-color: #009688;
        min-height: 100%;
        transition: all 500ms;
        display: flex;
        flex-direction: column;
        gap: 1.5em;

        .brand {
            height: 4em;
            display: flex;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
            }
            span {
                font-size: large;
                color: white;
            }
        }
    }
}


/* FOR SPANS */
span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* FOR LI */

li {
    list-style: none;
    width: 100%;
}

/* FOR A */
a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 600px;
    border-radius: 30em;
    &:hover {
        &:hover {
            background-color: #26a69a;
            cursor: pointer;
        }
    }
}

/* FOR LI A */

li {
    a {
        display: flex;
        align-items: center;
        div {
            width: 50px;
            height: 50px;
            min-width: 50px;
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

/* FOR ICONS */
i {
    font-size: large;
    font-weight: 500;
    color: white;
}

/* Buttons */

#collapse {
    margin-top: auto;
    border-radius: 30em;
    border: none;
    background-color: transparent;
    div {
        display: flex;
        align-items: center;

        div {
            height: 50px;
            width: 50px;
            min-height: 50px;
            min-width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            #collapse-icon {
                color: #37474f ;
            }
        }
    }
    &:hover {
        background-color: #26a69a;
        cursor: pointer;
    }
}

.menu-container {
    z-index: 999;
    position: relative;
    border-radius: 30em;
    border: none;

    #new {
        background-color: white;
        width: 100%;
        border-radius: 30em;
        border: none;
        display: flex;
        align-items: center;
        overflow: hidden;
        &:hover {
            background-color: #e0f2f1;
            cursor: pointer;
        }
        div {
            height: 50px;
            width: 50px;
            min-height: 50px;
            min-width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                color:#009688
            }
        }
    }
}



/* FOR COLLAPSE FUNCTION */

.collapsed {
    width: 64px;
}
.not-collapsed {
    width: 256px;
}

/* FOR MENU */

.menuToggled {
    display: flex !important;
    filter: drop-shadow(1px 1px 5px #607d8b) !important;  
}

.menu {
    display: none;
    filter: none;
    border-radius: 10px;
    padding: 1em 0em;
    flex-direction: column;
    background-color: white;
    position: absolute;
    /* min-width: 100%; */
    width: 15em;
    top: 50%;
    right: 0-15em;
    button {
        background-color: transparent;
        border: none;
        padding: 1em 0em;
        &:hover {
            background-color:#eceff1;
            cursor: pointer;
        }
    }
}

.active {
    box-sizing: border-box !important;
    background-color: #00bcd4;
    border-radius: 30em;
    /* border: 1px solid #004d40; */
    &:hover {   
        background-color: #00bcd4 !important;
        /* border: 1px solid #004d40 !important; */
    }
}
