<div class="sidebar" [ngClass]="collapsed ? 'collapsed' : 'not-collapsed'">
    <div class="brand">
        <img src="../../../assets/logos/Warehouse_logo.svg">
        <span>Ware House</span>
    </div>
    
    <div class="menu-container" appClickOutside (clickedOutside)="toggleMenuOff()">
        <button id="new" (click)="toggleMenu()">
                <div>
                    <i class="pi pi-plus"></i>
                </div>
                <span>New</span>
        </button>
    
        <menu class="menu"  [ngClass]="menuToggled ? 'menuToggled' : ''">
            <button mat-menu-item (click)="openModal()">Folder</button>
            <button mat-menu-item>File</button>
        </menu>
    </div>

    
    <ul>
        <li><a [routerLinkActive]="'active'" routerLink="/home/my_files"><div><i class="pi pi-folder"></i></div><span>My files</span></a></li>
        <li><a [routerLinkActive]="'active'" routerLink="/home/shared_with_me"><div><i class="pi pi-user"></i></div><span>Shared With Me</span></a></li>
        <li><a [routerLinkActive]="'active'" routerLink="/home/recent"><div><i class="pi pi-clock"></i></div><span>Recent</span></a></li>
        <li><a [routerLinkActive]="'active'" routerLink="/home/starred"><div><i class="pi pi-star"></i></div><span>Starred</span></a></li>
        <li><a [routerLinkActive]="'active'" routerLink="/home/trash"><div><i class="pi pi-trash"></i></div><span>Trash</span></a></li>
    </ul>
    
    
    <button id="collapse" (click)="toggleCollapse()">
        <div>
            <div>
                <i class="pi pi-angle-left" id="collapse-icon"></i>
            </div>
            <span>Collapse</span>
        </div>
    </button>
</div>
